.searchBarContainer{
    width: 1000px;
}

.imageElement--slider{
    width: -webkit-fill-available;
}

.imageElement--imgCategory1{
    margin: 1px;
}

.imageElement--imgCategory2{
    margin: 1px;
}

.imageElement--imgCategory3{
    margin: 1px;
}