.flexRowContent{
    justify-content: space-between;
    align-items: center;
}

.flexRowContent--prueba1{
    justify-content: center
}

.flexRowContent--rowCategories{
    margin: 30px;
}
.flexRowContent--shippingOptions{
margin: 0px;
}
